---
import data from "../data";

const uniqSkills = [...new Set(data.flatMap((time) => time.skills))];
---

<div class="pt-1">
  <h3>Skills</h3>
  {
    uniqSkills.map((skil, index) => {
      return uniqSkills.length - 1 == index ? (
        <span>{skil}</span>
      ) : (
        <span>{skil} | </span>
      );
    })
  }
</div>
